In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
train = pd.read_csv(os.path.join('../input', 'train.csv'))
test = pd.read_csv(os.path.join('../input', 'test.csv'))

Variable Notes
pclass: A proxy for socio-economic status (SES)
1st = Upper
2nd = Middle
3rd = Lower

age: Age is fractional if less than 1. If the age is estimated, is it in the form of xx.5

sibsp: The dataset defines family relations in this way...
Sibling = brother, sister, stepbrother, stepsister
Spouse = husband, wife (mistresses and fianc√©s were ignored)

parch: The dataset defines family relations in this way...
Parent = mother, father
Child = daughter, son, stepdaughter, stepson
Some children travelled only with a nanny, therefore parch=0 for them.

In [3]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [4]:
train.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

### Model Estimation and Evaluation<a name="model"></a>

In [56]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(criterion='gini', 
                             n_estimators=700,
                             min_samples_split=10,
                             min_samples_leaf=1,
                             max_features='auto',
                             random_state=1)
rf.fit(train.iloc[:, 1:], train.iloc[:, 0])
print("%.4f" % rf.oob_score_)

0.8294

In [57]:
pd.concat((pd.DataFrame(train.iloc[:, 1:].columns, columns = ['variable']), 
           pd.DataFrame(rf.feature_importances_, columns = ['importance'])), 
          axis = 1).sort_values(by='importance', ascending = False)[:20]

                  variable  importance
12              Sex_female    0.111215
11                Sex_male    0.109769
33          Name_Title_Mr.    0.109746
1                     Fare    0.088209
2                 Name_Len    0.087904
0                      Age    0.078651
8                 Pclass_3    0.043268
35        Name_Title_Miss.    0.031292
7               Ticket_Len    0.031079
34         Name_Title_Mrs.    0.028852
25          Cabin_Letter_n    0.027893
43            Fam_Size_Big    0.025199
41        Fam_Size_Nuclear    0.022704
9                 Pclass_1    0.021810
19           Ticket_Lett_1    0.017999
20           Ticket_Lett_3    0.012902
10                Pclass_2    0.012345
36      Name_Title_Master.    0.012098
23  Ticket_Lett_Low_ticket    0.011723
13              Embarked_S    0.011546

In [58]:
predictions = rf.predict(test)
predictions = pd.DataFrame(predictions, columns=['Survived'])
predict.a